<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AirTravel/src/com/AirTravel/AirTravelJob.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.AirTravel.AirTravelJob"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="F:\Courses\CloudComputing\Project\AirTravel\inputfiles\testingfile.csv&#13;&#10;F:\Courses\CloudComputing\Project\AirTravel\output"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AirTravel"/>
</launchConfiguration>
